#introLogo {
  width: 80%;
  height: auto;
  display:block;
  position: fixed;
  margin-top: 10%;
  margin-left: 10%;
  animation: fadeOut 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
  
}

.hidden {
  display: none;
}